
.Z{background-color:#892cdc;
padding-top:15%;}

body{margin:0;
font-family:Cooper;
}



.b{position:relative;
left:92%;
bottom:33%;}

h4{position:relative;
left:90%;
bottom:37%;
color:white;}

.c{position:relative;
left:7%;
bottom:15%;}

a{position:relative;
left:7%;
bottom:10%;}





h1{position:absolute;
top:1%;
left:20%;
color:#9fd8df;
font-size:250%;
font-family: 'Sriracha', cursive;

}

h3{position:absolute;
top:17%;
left:72%;

color:#9fd8df;
}



.20{position:relative;
left:60%;
bottom:70%;}

.22{position:relative;
left:100%;
bottom:10%;
}

.f{position:absolute;
left:41%;
bottom:24%;}

.w{position:relative;
left:72%;
bottom:12%;
}

.e{position:relative;
left:77%;
bottom:52%;}

.l{position:relative;
left:36%;
bottom:46%;}