.a{background-color:#892cdc;
padding-top:15%; 
}

h1{position:absolute;
bottom:85%;
left:35%;
color:white;
text-decoration:underline;
font-family:cooper;}


table{position:relative;
left:30%;
top:2%;
height:400px;
width:500px;
font-family:arial;}

body{margin:0;}